<div id="category.id">
<%= link_to category.category, expenses_path(month: cookies[:month],year: cookies[:year], category: category.id, tipo: tipo), class: "category list-group-item bg-default" , remote: true %>
</div>