<div class="summary-box col-md-4 text-center">
	<div class="summary-value"><%= number_to_currency(@expenses.sum(:value), precision: 2) %></div>
	<div class="summary-label">Total</div>
</div>
<div class="summary-box col-md-4 text-center">
	<div class="summary-value"><%= @expenses.count%></div>
	<div class="summary-label">Transactions</div>
</div>
<div class="summary-box col-md-4 text-center">
	<div class="summary-value"><%=  number_to_currency(@expenses.average(:value), precision: 2) %></div>
	<div class="summary-label">Average</div>
</div>